mat-form-field-wrapper{
  width: 50%;
  margin: 0 auto;
}

table {
    width: 100%;
  }
  
  .table-container{
    justify-content: center;
    align-items: center;
    overflow-x: auto;
  }


  @media all and (max-width: 600px) {
    .table-container {
      margin-top: 1.5em;
      padding:0px;
    }
  }

  @media all and (min-width: 600px) {
    .table-container {
      padding:5em;
    }
  }
  