table {
    width: 100%;
  }
  
  .table-container{
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin-top: 2em;
  }
  
  th.mat-header-cell {
    text-align: center;    
    color : black;  
    background-color: #f3f3f373;
  }
  
  td {
    border-left: 1px solid #d4d4d4;
    text-align: center;
  }

  @media all and (max-width: 600px) {
    .table-container {
      padding:0px;
    }
  }

  @media all and (min-width: 600px) {
    .table-container {
      padding:10em;
    }
  }
  